body {
  margin: 0;
}

.container {
  display: flex;
  width: 90%;
  margin: auto;
}

.left-menu {
  flex-direction: column;
  flex: 1 1 275px;
  font-family: 'Roboto', sans-serif;
}

.logo-container {
  margin-top: -1rem;
}

.logo {
  font-size: 30px;
}

ul.menu-icons {
  margin: 0;
}

li {
  margin-top: 1.5rem;
}

.twitter-color {
  color: rgb(29, 161, 242);
}

button.tweet-modal-button {
  width: 211px;
  height: 49px;
  border-radius: 30px;
  font-size: 18px;
  color: white;
  border-style: none;
  margin-left: -15px;
  background-color: #39a2f2;
}

.icon {
  display: inline-block;
  width: 26px;
  height: 26px;
  font-size: 24px;
}

.menu-text {
  padding-left: 20px;
  font-size: 19px;
  font-weight: 700;
}

.twitter-container {
  flex: 1 0 598px;
  border-left: 1px solid rgb(230, 236, 240);
  border-right: 1px solid rgb(230, 236, 240);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  border-bottom: 1px solid rgb(230, 236, 240);
}

#main-page-home-header {
  font-family: 'Open Sans', sans-serif;
  font-size: 19px;
}

.right-menu {
  display: flex;
  flex: 1 1 350px;
  flex-direction: column;
}

.profile-pic {
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  object-fit: cover;
}

.compose-profile-container {
  display: flex;
  padding: 15px 15px 0 15px;
}

.compose-profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

textarea {
  width: 90%;
  padding: 15px 0 15px 15px;
  font-size: 18px;
  border: none;

  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none;
}

.compose-buttons-icons {
  display: flex;
  color: rgb(29, 161, 242);
  justify-content: space-between;
  padding: 0 15px 15px 88px;
  border-bottom: 1px solid rgb(230, 236, 240);
  align-items: center;
}

.compose-icons {
  display: flex;
  justify-content: space-between;
}

.compose-icon {
  margin-right: 15px;
  font-size: 22px;
}

.compose-button {
  font-size: 18px;
  padding: 10px 15px 10px 15px;
  border-radius: 30px;
  color: white;
  background-color: rgb(29, 161, 242);
}

.separator {
  height: 10px;
  background-color: rgb(230, 236, 240);
}

.tweet-profile-content-container {
  padding: 8px 0 0 10px;
  width: 90%;
}

.tweet-profile-title-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}

.tweet-profile-info {
  display: flex;
}

.tweet-profile-title {
  padding-right: 3px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

.tweet-check-mark {
  padding-right: 5px;
}

i.fas.fa-check-circle {
  font-size: 15px;
  color: rgb(29, 161, 242);
}

.tweet-handle {
  color: rgb(101, 119, 134);
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.tweet-post {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(230, 236, 240);
}

.img-placeholder {
  margin: 15px 15px 0 72px;
}

.tweet-photo {
  width: 100%;
  border-radius: 15px;
  object-fit: cover;
  border: 1px solid rgb(204, 214, 221);
}

.tweet-buttons {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px 10px 76px;
  width: 425px;
  color: rgb(101, 119, 134);
}

.buttons-container {
  display: flex;
  width: 47px;
  justify-content: space-between;
}

.search {
  width: 90%;
  margin: 0.5rem auto 0 auto;
  position: relative;
}

i.fas.fa-search {
  position: absolute;
  top: 12px;
  left: 15px;
}

input.search-bar {
  width: 100%;
  height: 38px;
  border-radius: 30px;
  border-style: none;
  background-color: #e6ecf0;
  padding-left: 40px;
  box-sizing: border-box;
}

.trends-continer {
  width: 90%;
  margin: 0.8rem auto;
  background-color: #f5f8fa;
  border-radius: 15px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.trends-title-lines {
  border-bottom: 1px solid #e6ecf0;
}

.trends-title-container {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding: 10px 15px;
}

.trends-title {
  font-weight: 700;
}

.trending-post {
  font-family: 'Roboto', sans-serif;
}

i.fas.fa-cog {
  color: rgb(29, 161, 242);
}

.trending-info {
  border-bottom: 1px solid #e6ecf0;
  padding: 10px 15px;
}

.trending-post-title {
  padding-top: 5px;
  font-weight: 700;
}

.trending-country-options-container {
  display: flex;
  justify-content: space-between;
}

.trending-country {
  font-size: 14px;
  color: rgb(101, 119, 134);
}

.trending-post-detail {
  padding-top: 5px;
  font-size: 15px;
  color: #657786;
}

.trending-post-number-tweets {
  color: rgb(101, 119, 134);
  padding-top: 5px;
}

.trends-show-more {
  padding: 10px 15px;
  font-weight: 400;
  font-size: 15px;
  color: #39a2f2;
}
